.container>div {
    flex-wrap: wrap;
    height: 100%;
    border-radius: 5px;
    display: flex;
}

.container>.red {
    background-color: red;
}

.container>.green {
    background-color: green;
}

.container>.yellow {
    background-color: yellow;
}

.name {
    display: block;
    position: absolute;
    font-size: 50px;
    color: blue;
}

.foodItems li {
    color: blue;
}

.mainTaco {
    width: 100px;
    display: block;
    position: absolute;
    margin-left: 231px;
    height: 130px;
}