.container>div {
    flex-wrap: wrap;
    height: 100%;
    border-radius: 5px;
    display: flex;
}

.container>.red {
    background-color: red;
    display: flex;
    justify-content: space-evenly;
}

.container>.green {
    background-color: green;
}

.container>.yellow {
    background-color: yellow;
}