.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(12, 25px);
    grid-gap: 10px;
}

.container>.red {
    grid-column: 1/5;
    grid-row: 1/5;
}

.container>.green {
    grid-column: 1/5;
    grid-row: 5/21;
}

.container>.yellow {
    grid-column: 1/5;
    grid-row: 21/25;
}

.name {
    display: block;
    position: absolute;
    font-size: 50px;
    color: blue;
}

.foodItems li {
    color: blue;
}

.mainTaco {
    width: 100px;
    display: block;
    position: relative;
    margin-left: 231px;
    height: 130px;
}