                                .france {
                                    background: linear-gradient(90deg, #002495 33%, #ffffff 33%, #ED2938 66%);
                                    aspect-ratio: 2/3;
                                    margin: 50px;
                                    position: relative;
                                    padding: 100;
                                    display: inline-block;
                                }
                                
                                .germany {
                                    background: linear-gradient(180deg, #000000 33%, #DE0002 33%, #FFCE00 66%);
                                    aspect-ratio: 2/3;
                                    margin: 50px;
                                    padding: 100;
                                    display: inline-block;
                                    position: relative;
                                }
                                
                                .madagascar {
                                    background-color: white;
                                    position: relative;
                                    width: 100px;
                                    height: 100px;
                                    padding: 100;
                                    display: inline-block;
                                    left: 50px;
                                    aspect-ratio: 2/3;
                                    margin: 50px;
                                }
                                
                                .madagascar1 {
                                    background-color: red;
                                    position: relative;
                                    width: 200px;
                                    height: 100px;
                                    padding: auto;
                                    left: 50px;
                                }
                                
                                .madagascar2 {
                                    background-color: green;
                                    width: 200px;
                                    height: 100;
                                    position: relative;
                                    left: 50px;
                                }
                                
                                .switzerland {
                                    background-color: red;
                                    color: white;
                                    display: inline-block;
                                    position: relative;
                                    border: 10px;
                                    width: 100;
                                    font-size: 100px;
                                    text-align: center;
                                    padding: 10%;
                                    margin-bottom: 10;
                                }
                                
                                .sweden {
                                    background-color: #0269a6;
                                    display: inline-block;
                                    position: relative;
                                    padding: 100;
                                    width: 100px;
                                }
                                
                                #sweden1 {
                                    background-color: #fecc00;
                                    display: inline-block;
                                    padding: 10;
                                    position: relative;
                                    width: 280px;
                                    right: 100px;
                                }
                                
                                #sweden2 {
                                    background-color: #fecc00;
                                    display: inline;
                                    position: relative;
                                    padding: 10;
                                    right: 150px;
                                    padding-bottom: 100;
                                    padding-top: 100;
                                    width: 100px;
                                }
                                
                                .gambia {
                                    background-color: white;
                                    position: relative;
                                    display: inline-block;
                                    width: 350px;
                                }
                                
                                .gambia1 {
                                    background-color: #CE1127;
                                    position: relative;
                                    padding: 30px;
                                    display: block;
                                    margin-bottom: 10px;
                                }
                                
                                .gambia2 {
                                    background-color: #0D1D8B;
                                    position: relative;
                                    padding: 30px;
                                    display: block;
                                    margin-bottom: 10px;
                                }
                                
                                .gambia3 {
                                    background-color: #3b7827;
                                    position: relative;
                                    padding: 30px;
                                    display: block;
                                }
                                
                                .japan {
                                    background-color: white;
                                    position: relative;
                                    display: block;
                                    height: 100px;
                                    width: 175px;
                                    text-align: center;
                                    padding: 100px;
                                    border: 1px dashed red;
                                    margin-top: 30px;
                                    margin-bottom: 30px;
                                }
                                
                                .japan1 {
                                    background-color: #bc022c;
                                    position: relative;
                                    display: block;
                                    border-width: 25%;
                                    border-radius: 50%;
                                    padding: 75px;
                                }
                                
                                .niger {
                                    background-color: white;
                                    position: relative;
                                    display: inline-block;
                                    padding: 100px;
                                    width: 150px;
                                }
                                
                                .niger1 {
                                    background-color: #E15307;
                                    position: relative;
                                    display: block;
                                    padding: 10px;
                                    width: 150px;
                                }
                                
                                .niger3 {
                                    background-color: #10Af2a;
                                    position: relative;
                                    display: block;
                                    padding: 10px;
                                    width: 150px;
                                }
                                
                                .niger2 {
                                    background-color: #E15307;
                                    position: relative;
                                    display: inline-block;
                                    border-width: 10%;
                                    border-radius: 50%;
                                    padding: 50px;
                                    left: 30px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                                
                                * {
                                    box-sizing: content-box;
                                }